@import "../../assets/colors";

.container {
  margin-bottom: 72px;
}
.darkContainer{
  background-color: $secondary;
}
.bread_crumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.home {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
}
.darkHome{
  color: $gray;
}
.line {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: $gray;
}
.post_number {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
}
.mainblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 32px 0 48px;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  color: $secondary;
  text-align: justify;
}
.darkTitle{
  color: $white;
}
.image {
  width: 992px;
  height: 518px;
}
.text {
  max-width: 920px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: $secondary;
}
.darkText{
  color: $white;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.right_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: $secondary;
}
