@import "src/assets/colors";

.container {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  background-color: $extra-light;
  overflow: auto;
}
.mainInfo {
  padding: 0 300px;
  margin-top: 156px;
  width: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.darkContainer {
  background-color: $secondary;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 33px 0;
  border-top: 1px solid $gray;
  div {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $gray;
  }
}
