@import "src/assets/colors";

.container {
  background-color: $extra-light;
}
.darkContainer{
  background-color: $secondary;
}
.backHome {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
}
.darkBackHome{
  color: $white;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}
.inputContainer {
  border: 1px solid $medium;
  padding: 0 40px;
  width: 544px;
}
.darkInputContainer{
  border-color: $gray;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
  padding-top: 40px;
}
.darkText{
  color: $white;
}
.button {
  text-align: center;
  margin: 48px 0 40px;
  width: 544px;
}
