@import "src/assets/colors";
.container{
display: flex;
  border-bottom: 1px solid $light;
  border-top: 1px solid $light;
  background-color: $white;
}
.button{
  width: 118px;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  &:first-child{
    border-right: 1px solid $light;
  }
  &:hover{
    cursor: pointer;
    svg>path {
      fill: $secondary;
    }
  }
}
.activeButton{

  svg>path {
    fill: $secondary;
  }
}